@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo (a)!</h1>
    <p>Escolha pra onde quer ir viajar!</a>.</p>
    <p>Temos Pacotes para Você e sua Familia!</a>.</p>

    <br>
    <a href="Index.html">Home</a>
    </br>

    <br>
    <a href="Destino.html">Destino</a>
    </br>

    <br>
    <a href="Promoções.html">Promoções</a>
    </br>
    
    <br>
    <a href="Contato.html">Contato</a>
    </br>

    <br>
    <h4> Viagem dos Sonhos.</h4>
    </br>

    <br>
    <h5>Afinal, pra que ir pra Maldivas, se eu posso me divertir no alfalto de SP/ES/MG</h5>
    </br>

</div>
